!!!
%html
  %head
    %title Rotten Potatoes!
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title Rotten Potatoes!
    - if !@current_user
      = button_to "Sign Up/Login", login_path, :method => :get, :id => 'signupLogin'
    - else
      #message.flashMessage= "You are logged in as #{@current_user.user_id}"
      = button_to "Log Out", logout_path, :method => :delete, :id => 'logout'
    #main
      - if flash[:notice]
        #notice.flashMessage= flash[:notice]
      - elsif flash[:warning]
        #warning.flashMessage= flash[:warning]

      = yield
